<footer>
    <div class="upper-footer">
        <div class="foot-grid-els">
            <div class = "left-nav"><a href="#">
                <div class = "GHT-logo"><img src="" alt="GHT"></div>
                <h1 id="footer-heading">Gayatri Home Tutor</h1>
            </a></div>
            <p>Trusted home tuition bureau since 2010. Connecting students with expert tutors across Delhi NCR.</p>
        </div>
        <div class="foot-grid-els">
            <ul>
                <li class="li-color-1"><a href="">About Us</a></li>
                <li class="li-color-2"><a href="">Services</a></li>
                <li class="li-color-3"><a href="">Subjects</a></li>
                <li class="li-color-4"><a href="">Area</a></li>
            </ul>
        </div>
        <div class="foot-grid-els">
            <ul>
                <li class="li-color-5"><a href="">Terms & conditions</a></li>
                <li class="li-color-6"><a href="">Book Free Demo</a></li>
                <li class="li-color-7"><a href="">Become a Tutor</a></li>
            </ul>
        </div>
        <div class="foot-grid-els">
            <h4>Contact</h4>
            <ul>
                <li class="li-color-1">
                    <a href="tel:+918505952700" class="link-icon">
                        <img src="../assets/images/callwhite.png"  class="img-icon">
                        <span>+91 85059 52700</span>
                    </a>
                </li>
                <li class="li-color-2">
                    <a href="gayatrihometutor@gmail.com" class="link-icon">
                        <img src="../assets/images/email.png"  class="img-icon">
                        <span>Gayatrihometutor@gmail.com</span>
                    </a>
                </li>
                <li class="li-color-3">
                    <a href="address:blah blah" class="link-icon">
                        <img src="../assets/images/location.png"  class="img-icon">
                        <span>Ranibagh, Delhi-110034</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom-footer">
        <div>
            <p>&copy; 2025 Gayatri Home Tutor. All rights reserved.</p>
        </div>
        <div class="social-icons-strip">
            <div class="social-icons-grid">
                <a href=""><div class="social-icons"><img src="../assets/images/facebook.png" alt="FB" class="img-icon"></div></a>
                <a href=""><div class="social-icons"><img src="../assets/images/instagram.png" alt="IG" class="img-icon"></div></a>
                <a href=""><div class="social-icons"><img src="../assets/images/twitter.png" alt="X" class="img-icon"></div></a>
                <a href=""><div class="social-icons"><img src="../assets/images/linkedin.png" alt="IN" class="img-icon"></div></a>
            </div>
        </div>
    </div>
</footer>