<header>
    <nav class = "header-nav">
        <div class = "navbar">
            <div class = "left-nav"><a href="/index.html">
                <div class = "GHT-logo"><img src="" alt="GHT"></div>
                <div class = "GHT-text">
                    <h1>Gayatri Home Tutor</h1>
                    <p>Delhi NCR's Most Trusted Tutors</p>
                </div></a>
            </div>
            <nav class="center-nav">
                <a href="/index.html" id="cnt-nav-btn1">Home</a>
                <a href="/about.html" id="cnt-nav-btn2">About Us</a>
                <a href="/services.html" id="cnt-nav-btn3">Services</a>
                <a href="/become-tutor.html" id="cnt-nav-btn4">Become Tutor</a>
                <a href="/contact.html" id="cnt-nav-btn5">Contact Us</a>
            </nav>
            <div class = "right-nav">
                <a href="tel:+918505952700" class="link-icon">
                    <img src="../assets/images/callwhite.png" class="img-icon">
                    <span>+91 85059 52700</span>
                </a>
                <a href="#" class="book-btn">Book Free Demo</a>
            </div>
        </div>
    </nav>
</header>