<header>
    <nav class="header-nav">
        <div class="navbar">

            <!-- Left -->
            <div class="left-nav">
                <a href="/index.html">
                <div class="GHT-logo">
                    <img src="../assets/images/logo.png" alt="GHT logo">
                </div>
                <div class="GHT-text">
                    <h1>Gayatri Home Tutors</h1>
                    <p>Delhi NCR's Most Trusted Tutors</p>
                </div>
                </a>
            </div>

            <!-- Center -->
            <nav class="center-nav">
                <a href="/index.html">Home</a>
                <a href="/about.html">About Us</a>
                <a href="/services.html">Services</a>
                <a href="/become-tutor.html">Become Tutor</a>
                <a href="/contact.html">Contact Us</a>
            </nav>

            <!-- Right -->
            <div class="right-nav">
                <a href="tel:+918505952700">
                <img src="../assets/images/callwhite.png" alt="Call">
                <span>+91 85059 52700</span>
                </a>
                <a href="/contact.html" class="cta-btn">Book Free Demo</a>
            </div>

        </div>
    </nav>
</header>