<div class="subjects-section">
    <h2>Subjects We Cover</h2>
    <div class="subjects-grid">
        <div class="subjects-grid-els pink">
            <div class="subjects-grid-upper-el">
                <h3>Primary (1-5)</h3>
            </div>
            <div class="subjects-grid-lower-el">
                <ul>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>English</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Hindi</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Mathematics</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>EVS</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Computer</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="subjects-grid-els orange">
            <div class="subjects-grid-upper-el">
                <h3>Middle (6-8)</h3>
            </div>
            <div class="subjects-grid-lower-el">
                <ul>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>English</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Hindi</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Mathematics</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Science</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Social Studies</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Sanskrit</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="subjects-grid-els purple">
            <div class="subjects-grid-upper-el">
                <h3>Secondary (9-10)</h3>
            </div>
            <div class="subjects-grid-lower-el">
                <ul>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>English</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Hindi</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Mathematics</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Science</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Social Studies</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Computer</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="subjects-grid-els green">
            <div class="subjects-grid-upper-el">
                <h3>Senior (11-12)</h3>
            </div>
            <div class="subjects-grid-lower-el">
                <ul>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Physics</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Chemistry</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Biology</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>English</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Accounts</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Mathematics</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Business Studies</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Economics</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Computer Science</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="subjects-grid-els blue">
            <div class="subjects-grid-upper-el">
                <h3>Advanced</h3>
            </div>
            <div class="subjects-grid-lower-el">
                <ul>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>JEE prep</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>NEET prep</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>CUET prep</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>CA Foundation prep</p>
                    </li>
                    <li>
                        <img src="/assets/images/checkmark-black.png" alt="">
                        <p>Govt. Exams prep</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="our-values">
    <div class="upper-values">
        <h2>We Serve Across Delhi NCR</h2>
        <p>Expert tutors available in your locality</p>
    </div>
    <div class="lower-area-grid">
        <div class="area-grid-els red-line">
            <div class="contact-item">
                <div class="contact-icon blue">
                    <img src="../assets/images/location-black.png" alt="Call icon">
                </div>
                <div class="contact-text">
                    <h3 class="area-h3">Pitampura</h3>
                    <p class="area-p">Near Kohat Enclave, Madhuban Chowk</p>
                </div>
            </div>
        </div>
        <div class="area-grid-els green-line">
            <div class="contact-item">
                <div class="contact-icon blue">
                    <img src="../assets/images/location-black.png" alt="Call icon">
                </div>
                <div class="contact-text">
                    <h3 class="area-h3">Paschim Vihar</h3>
                    <p class="area-p">A, B, C, D Block</p>
                </div>
            </div>
        </div>
        <div class="area-grid-els yellow-line">
            <div class="contact-item">
                <div class="contact-icon">
                    <img src="../assets/images/location-black.png" alt="Call icon">
                </div>
                <div class="contact-text">
                    <h3 class="area-h3">Ashok Vihar</h3>
                    <p class="area-p">Phase 1, 2, 3, 4</p>
                </div>
            </div>
        </div>
        <div class="area-grid-els yellow-line">
            <div class="contact-item">
                <div class="contact-icon blue">
                    <img src="../assets/images/location-black.png" alt="Call icon">
                </div>
                <div class="contact-text">
                    <h3 class="area-h3">Model Town</h3>
                    <p class="area-p">Model Town I, II, III</p>
                </div>
            </div>
        </div>
        <div class="area-grid-els pink-line">
            <div class="contact-item">
                <div class="contact-icon blue">
                    <img src="../assets/images/location-black.png" alt="Call icon">
                </div>
                <div class="contact-text">
                    <h3 class="area-h3">Shalimar Bagh</h3>
                    <p class="area-p">Block A, B, C, D Areas</p>
                </div>
            </div>
        </div>
        <div class="area-grid-els red-line">
            <div class="contact-item">
                <div class="contact-icon blue">
                    <img src="../assets/images/location-black.png" alt="Call icon">
                </div>
                <div class="contact-text">
                    <h3 class="area-h3">Rohini</h3>
                    <p class="area-p">Sectors 3, 7, 9, 11, 13, 15</p>
                </div>
            </div>
        </div>
        <div class="area-grid-els pink-line">
            <div class="contact-item">
                <div class="contact-icon blue">
                    <img src="../assets/images/location-black.png" alt="Call icon">
                </div>
                <div class="contact-text">
                    <h3 class="area-h3">Punjabi Bagh</h3>
                    <p class="area-p">East & West Punjabi Bagh</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-mission">
    <div class="mission-content">
        <h2 class="find-area-h2 orange-text">Can't Find Your Area?</h2>
        <p class="find-area-p">We're constantly expanding our services. If your area is not listed above, don't worry! Contact us and we'll do our best to arrange a tutor for you.</p>
        <div class="find-area-grid">
            <div class="find-area-grid-els">
                <div class="find-area-grid-icon"><img src="../assets/images/checkmark.png"></div>
                <p class="find-area-grid-els-p">One-on-one personalized attention</p>
            </div>
            <div class="find-area-grid-els">
                <div class="find-area-grid-icon"><img src="../assets/images/checkmark.png"></div>
                <p class="find-area-grid-els-p">Flexible scheduling at your convenience</p>
            </div>
            <div class="find-area-grid-els">
                <div class="find-area-grid-icon"><img src="../assets/images/checkmark.png"></div>
                <p class="find-area-grid-els-p">Regular assessments and progress tracking</p>
            </div>
        </div>
    </div>
    <div class="book-button">
        <a href="contact.html" id="contact-us-btn">Contact Us</a>
    </div>
</div>
<!-- <div class="about-strip">
    <p>Join the growing number of parents who trust us with their child’s education.</p>
</div> -->
<div class="our-values">
    <div class="upper-values">
        <h2 class="blue-text">How It Works?</h2>
        <p>Four simple steps to connect with an expert tutor and start learning today.</p>
    </div>
    <div class="lower-values-grid how-it-works-grid">
        <div class="grid-els how-it-works-grid-els">
            <div class="grid-icon"><img src="../assets/images/call-green.png"></div>
            <h3 class="green-text">1. Contact</h3>
            <p>Share your requirements.</p>
        </div>
        <!-- <div class="grid-icon"><img src="../assets/images/arrow-black.png"></div> -->
        <div class="grid-els how-it-works-grid-els">
            <div class="grid-icon"><img src="../assets/images/search-pink.png"></div>
            <h3 class="pink-text">2. Match</h3>
            <p>Find your desired tutor.</p>
        </div>
        <div class="grid-els how-it-works-grid-els">
            <div class="grid-icon"><img src="../assets/images/star-orange.png"></div>
            <h3 class="orange-text">3. Review</h3>
            <p>Check credentials & rates.</p>
        </div>
        <div class="grid-els how-it-works-grid-els">
            <div class="grid-icon"><img src="../assets/images/student-purple.png"></div>
            <h3 class="purple-text">4. Learn</h3>
            <p>Start your demo class.</p>
        </div>
    </div>
</div>